# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environnement local
.env

# système
.DS_Store

# Coverage
coverage/

# Fichiers de build
dist/

# Dépendances verrouillées (si non utilisées)
package-lock.json
